.home{
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;

    @include min-width(medium){
        background-image: url('../assets/home/background-home-tablet.jpg');
    };
    @include min-width(large){
        background-image: url('../assets/home/background-home-desktop.jpg');
    };
    
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 10rem 3rem 2rem;

        @include customQuery(min-width, 980px){
            flex-direction: row;
            justify-content: space-between;
            padding: 30vh 9.5rem 2rem;
            align-items: center
        };
    }
    
    &__text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 400px;

        @include max-width(small){
            margin: 0 auto ;
        };

        p{
            @include min-width(large){
                margin: 0.5rem 0 0 0 ;
                
            };
        }
    }

    
    &__cta{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        background-color: $white;
        cursor: pointer;
        
        a{
            color: $blue;
            font-family: 'Bellefair';
            text-transform: uppercase;
            font-size: 1.2rem;
        }

        &:hover{
            animation: beam 1500ms ease-in-out alternate infinite  ;
        }

        @include max-width(small){
            margin: 5vh auto ;
        };
        @include min-width(large){
            width: 18.5vw;
            height: 18.5vw;
            max-width: 300px;
            max-height: 300px;
        };
    }
}