// colors
$blue: #0b0d17;
$lightBlue: #d0d6f9;
$white: #fff;
$grey: #979797;

// animations
@keyframes beam {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 0px 2.5rem rgba($color: white, $alpha: 0.25);
    }
    100%{
        box-shadow: none;
    }
}